<h1>This is the home page!</h1>
<h2>{{welcomeMessage}}</h2>
<h3>{{weather}}</h3>

<a href="#instructors">View our Instructors Page</a>

<input style="width:100%;" type="text" ng-model="weather">

<button ng-click="pluckFirstLetter()">Remove First Letter</button>

<p ng-click="welcomeMessage = 'YOLO'">I'm just a paragraph.</p>

<button ng-click="getGoogle()">Get Google</button>
<br>
<input ng-model="name">
<button ng-click="sayHelloToEveryone()">Say Hello</button>
<br>
<input ng-model="noteid">
<div class="tweets">
    <div class="tweet" ng-repeat="tweet in tweets">
        {{text}}, {{user}}, {{createdAt}}
    </div>
</div>
<button ng-click="getNote()">Get Note</button>
<button ng-click="getAllTweets()">Get All Tweets</button>
<br>
<h1>My Friends</h1>
<button ng-click="addFriend()">Add one of my Friends</button>
<ul class="friends">
    <li class="my-friend" ng-repeat="friend in friends">{{friend}}</li>
</ul>